@page "{id:guid}"
@model IdentitySample.Web.Pages.EditModel

@ViewData["Title"] = "Edit user";

<div class="container">
  <h2>Edit account - @Model.UserId</h2>
  <form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="UserId" type="hidden" />

    <div class="form-group">
      <label asp-for="Email">Email:</label>
      <span asp-for="Email">@Model.Email</span>
    </div>
    <div class="form-group">
      <label asp-for="Phone">Phone:</label>
      <input type="text" class="form-control" asp-for="Phone" placeholder="Enter phone number">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
</div>
