@model LoginModel

<div class="col-md-4 offset-2">
  <section>
    <h4>Use different service for log in:</h4>
    <hr />
    @{
      if ((Model.ExternalLogins?.Count ?? 0) == 0)
      {
        <div>
          <p>
            We couldn't find any external provider
          </p>
        </div>
      }
      else
      {
        <form asp-page="./ExternalLogin" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
          <div>
            <p>
              @foreach (var provider in Model.ExternalLogins)
              {
                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                  @provider.DisplayName
                </button>
              }
            </p>
          </div>
        </form>
      }
    }
  </section>
</div>