@page
@model IdentitySample.Web.Pages.Account.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
  <div class="col-md-8">

    <section>
      <form method="post" class="form-horizontal" role="form">
        <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
          <label asp-for="Email" class="col-md-2 control-label">Email:</label>
          <div class="col-md-10">
            <input type="email" class="form-control" asp-for="Email" placeholder="Enter email">
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label asp-for="Password" class="col-md-2 control-label">Password:</label>
          <div class="col-md-10">
            <input type="password" class="form-control" asp-for="Password" placeholder="Enter password">
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-2">
            <button type="submit" class="btn btn-default">Register</button>
          </div>
        </div>
        <p>
          <a asp-page="./Login">Allready have an account?</a>
        </p>

      </form>
    </section>
  </div>
</div>

@section Scripts {
  @{   await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}