@using IdentitySample.Web.Data

<ul class="nav nav-pills nav-stacked">
    <li class="@RolesNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Roles</a></li>
    <li class="@RolesNavPages.AddRoleNavClass(ViewContext)"><a asp-page="./AddRole">Add role</a></li>
</ul>

