@page "{id}"
@model EditRoleModel
@{
  ViewData["Title"] = "Edit Role";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
      <input asp-for="Id" />
      <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Claims"></label>
        <input asp-for="Claims" class="form-control" />
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}